#add__todo {
  @include modalBackground();
}

#add__todo__form {
  @include modalContainer();

  .close {
    @extend %button-basic;
    @include actionButtons($black, $darkBlue);
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .input--container {
    @include flexDisplay();
    flex-direction: column;
    padding-top: 40px;

    h2 {
      @include heading();
    }

    input {
      padding: 6px 8px;
      font-size: 1.6rem;
      width: 100%;
      border-radius: 20px;
      border: 2px solid $black;
      outline: none;
      margin-bottom: 15px;
    }

    .submit {
      @extend %button-basic;
      @include modalButton($darkBlue);

      &:hover {
        background-color: $black;
      }
    }
  }

  .err__msg {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: $red;
  }
}
