#delete__all {
  @extend %modal;
  @include flexDisplay;
}

#delete__all--container {
  @include modalContainer(del);

  h2 {
    @extend %heading;
  }

  p {
    margin-bottom: 55px;
    font-size: 1.6rem;
    text-align: center;
  }

  .delete__ctrl__btns {
    @include flexDisplay(space-around);
    width: 100%;

    .delete__all {
      @extend %button-basic;
      @include modalButton($red);
    }

    .cancel__delete__all {
      @extend %button-basic;
      @include modalButton($darkBlue);
    }
  }
}
