#todos {
  list-style: none;

  .todo {
    @include flexDisplay();
    padding: 5px 0;
    border-bottom: 1px solid $black;
    word-break: break-word;

    &:last-of-type {
      border-bottom: 1px solid transparent;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: $black;
    }

    p {
      color: $black;
      font-size: 1.6rem;
      margin-right: auto;
      max-width: 55%;
      cursor: pointer;
    }

    .todo__btns {
      @include flexDisplay(space-between);
      width: 80px;

      .important__btn {
        @extend %button-basic;
        @include actionButtons($lightOrange, $darkOrange);
      }

      .delete__todo__btn {
        @extend %button-basic;
        @include actionButtons($red, $lightRed, todo);
      }
    }
  }

  .todo.important {
    &::before {
      background-color: $darkOrange;
    }

    p {
      color: $darkOrange;
    }
  }

  .todo.complete {
    &::before {
      background-color: $green;
    }

    p {
      text-decoration: line-through;
      font-style: italic;
      color: $green;
    }
  }
}
