@mixin flexDisplay($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin actionButtons($color, $hover, $val: false) {
  @if $val == todo {
    font-weight: bold;
  }
  font-size: 2.1rem;
  color: $color;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid $color;
  transition: color 0.2s linear, border-color 0.2s linear;

  &:hover {
    color: $hover;
    border-color: $hover;
  }
}

@mixin containers($padding, $bgColor, $height) {
  padding: $padding;
  background-color: $bgColor;
  height: $height;
}
