@mixin flexDisplay($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin actionButtons($color, $hover, $val: false) {
  @if $val == todo {
    @include flexDisplay(center, flex-end);
  } @else {
    @include flexDisplay;
  }
  font-size: 2rem;
  color: $color;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid $color;
  transition: color 0.2s linear, border-color 0.2s linear;

  &:hover {
    color: $hover;
    border-color: $hover;
  }
}

@mixin containers($padding, $bgColor, $height) {
  padding: $padding;
  background-color: $bgColor;
  height: $height;
}

@mixin modalContainer($val: addTodo) {
  @if $val == addTodo {
    position: relative;
  } @else {
    @include flexDisplay();
    flex-direction: column;
  }
  background-color: $white;
  padding: 20px;
  width: 85%;
  min-width: 240px;
  max-width: 350px;
  border-radius: 3px;
  transform: scale(0);
  animation: scale 0.1s linear 0.1s forwards;
  @keyframes scale {
    to {
      transform: scale(1);
    }
  }
}

@mixin modalButton($color) {
  background-color: $color;
  padding: 8px;
  font-size: 1.45rem;
  font-weight: bold;
  color: $white;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}
